$color-primary-text: #000000;
$color-primary-container-background: #f6f6ef;
$color-primary-background: #ffffff;
$color-primary-header-background: #ff6600;
$color-primary-header: #000000;
$color-primary-text: #828282;

$color-dark-text: #fff;
$color-dark-container-background: #2e3039;
$color-dark-background: #1f2028;
$color-dark-header-background: #ff6600;
$color-dark-header: #fff;
$color-dark-text: #a9adc1;

$primary-font: Verdana, Geneva, sans-serif;
$font-size-header: 10px;
$font-size-text: 7px;
$transition: all 0.3s linear;
$max-width: 1600px;
